body,h1,h2,h3,h4,h5,h6 {
    font-family: "Ailerons" "Raleway", Arial, Helvetica, sans-serif
}

 body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.sidebar{
    height: 100%; 
    width: 12%; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(250,250,250);
    overflow-x: hidden; 

}

.logo_img {
    position: absolute;
    display: block;
    z-index: 10;
    width: 100%;
    height: auto;
    max-width: 600px;
    top: 1%;
    left: 1%;
 }

.help_icon{
    position: fixed;
    bottom: 0;
    left: 0;
    transform: scale(0.6);
}

 .voiture_img{
    position: fixed;
    display: block;
    z-index: 9;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .slogon{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:x-large;
    color: rgb(22,141,215);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 7%;
    padding-bottom: 5%;
    height: fit-content;
    text-align: center;
}


.btns {
    padding: 0;
    margin: 0%;
    border: none;
    right: 0;
    top:0;
    position: fixed;
    z-index: 10;
}
  
.btn{
    display: inline-block;
    overflow: hidden;
    border: none;
    margin: 8px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

.btn_indetifier{
    background-color:rgb(22,141,215);
    color: white;
}

.btn_inscrire{
    background-color: white;
    color: rgb(22,141,215);
}

.btns .btn:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
.btns .btn:hover {
    border-width: 2px;
    border-style:solid;
    background-color:white;
    color: rgb(22,141,215);
    border-color: rgb(22,141,215);
    transform: translateY(-1);
}


 @media screen and (orientation:portrait){
    .voiture_img{
        width: 100%;
        height: auto;
        padding-top: 10%;
    }
    .slogon{
        padding-top: 20%;

    }
    .sidebar{
        visibility: hidden;
    }


 }



@media screen and (min-width:400px) and (orientation:portrait) {
    

    .slogon{
        font-size: 30pt;
    }
}

@media  (max-width:500px){
    .voiture_img{
        visibility: hidden;
    }
}

@media  (max-height:500px){
    .voiture_img{
        visibility: hidden;
    }
}


